html {
  // Aliasing fixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Sizing fixes
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  // Bootstrap's fixed header is ~50px tall
  padding-top: 75px;
  margin: 0 auto;
  color: $gray-2;
}
