html {
  // Aliasing fixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Sizing fixes
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  // Bootstrap's fixed header is ~50px tall
  padding-top: 50px;
  max-width: $site-width;
  margin: 0 auto;
  color: $site-text-color;
}
