// Site colors.
$green-1  : #71A025;
$green-2  : #85BC2C;
$blue-1   : #053557;
$blue-2   : #0095A7;
$blue-3   : #00AFC4;
$orange-1 : #F47100;
$orange-2 : #FFB100;
$orange-3 : #F97C07;
$gray-1   : #59595a;
$gray-2   : #646465;
$gray-3   : #c7c7c7;
$gray-4   : #F7F9FA;
