//Site Color Variables
$dark-green: #72A025;
$light-green: #84BB2B;
$dark-blue: #1395A7;
$light-blue: #16AFCF;
$orange: #F47100;
$link-color: #053557;
$footer-nav-border: #FAB209;
$site-background-gray: #F7F9FA;
$footer-text: #59595a;
$site-text-color: #646465;

// Largest container width
$site-width: 1220px;

// Breakpoint Sizes //
$main-xsmall: 480px;
$main-small: 768px;
$main-medium: 992px;
$main-large: 1200px;
