// Site colors.
$green-1  : #6B9B1D;
$green-2  : #84BB2B;
$blue-1   : #053557;
$blue-2   : #17ACC1;
$blue-3   : #5DD8E4;
$orange-1 : #F47100;
$orange-2 : #FAB209;
$gray-1   : #59595a;
$gray-2   : #646465;
$gray-3   : #c7c7c7;
$gray-4   : #F7F9FA;
