.page-dashboard{
  margin-bottom: 30px;
}

.page-dashboard__header {
  padding: 30px;
  color: white;
  margin-bottom: 60px;
  background: $orange-3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, $orange-3, $orange-1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, $orange-3, $orange-1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, $orange-3, $orange-1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, $orange-3, $orange-1); /* Standard syntax */
}
