.support{
  margin-bottom: 100px;
}

.support__header {
  padding: 30px;
  color: white;
  margin-bottom: 60px;
  background: $blue-3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, $blue-3, $blue-2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, $blue-3, $blue-2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, $blue-3, $blue-2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, $blue-3, $blue-2); /* Standard syntax */
}

.support__title {
  padding: 10px;
}

.support__summary {
  color: $blue-3;
  font-weight: bold;
  margin-bottom: 30px;
}

.support__contact {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  a {
    color: $gray-3;
    &:hover, &:active, &:focus {
      color: darken($blue-3,5%);
    }

    cursor: pointer;
    cursor: hand;
  }

  span {
    padding-right: 5px;
  }
}
