.case-worker-messenger__messages{
  max-height: 500px;
  overflow: auto;
  border: 1px solid $gray-4;
  padding: 0;
}

.case-worker-messenger__messages-content{
  padding: 0;
}

.case-worker-messenger__messages-list{
  margin: 0;
}

.case-worker-messenger__messages-empty{
  margin: 15px;
}

.case-worker-messenger__message{
  border: 0;
  border-top: 1px solid $gray-4;
  position: static;

  &:first-child{
    border: 0;
    border-radius: 5px;
  }

  &:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


.case-worker-messenger__message-info{
  font-weight: bold;
}

.case-worker-messenger__message-control{
  margin-right: 0.5rem;
}

.case-worker-messenger__composer-info{
  margin-bottom: 15px;
}

.case-worker-messenger__composer-textarea{
  display: block;
  width: 100%;
}
