.foster-home-locator__search-input-control{
  margin-bottom: 15px;
}

.foster-home-locator__search-map{
  margin-bottom: 30px;
}

.foster-home-locator__search-results{
  max-height: 500px;
  overflow: auto;
}
