.site-footer__container{
  border-top: solid 15px $orange-3;
  background-color: $gray-6;
  color: $gray-2;
  min-height: 200px;
}

.site-footer__info {
  margin-top: 30px;
  padding: 0 30px;

  @media (min-width: $screen-sm) {
    margin: 30px 0;
    min-height: 150px;
    border-bottom: 0;
    border-left: solid 1px $gray-4;

    &:first-child{
      border: 0;
    }
  }
}

.site-footer__media-image {
  display: inline-block;
  width: 40px;
}

.site-footer__link{
  color: $gray-2;
}
