.site-footer__navigation {
  margin: 200px auto 60px auto;
  border-top: solid 15px $orange-2;
  padding-top: 15px;
  min-height: 200px;
}

.site-footer__container {
  padding-top: 30px;
  background-color: $gray-3;
  width: 100%;
  min-height: 200px;
  color: $gray-1;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    padding-bottom: 2px;
  }

  a {
    color: $gray-1;
  }

}

.site-footer__info {
  border-bottom: solid 1px #CCC;
  margin: 20px auto;
  padding-bottom: 20px;

  @media(min-width: $main-medium){
    min-height: 100px;
    border-right: solid 1px #CCC;
    border-bottom: none;
    padding-left: 30px;

    &:last-child{
      border: none;
    }
  }
}

.site-footer_media-container {
  width: 80%;
}

.site-footer__media-image {
  width: 40px;
}
