.page-home {
  margin: 0 auto 40px auto;
  top: 100px;
}

.page-home__banner {
  width: 100%;
}

.page-home__banner-slogan{
  position: relative;
  top: -350px;
  right: -60%;
  width: 100%;
  color: black;
  margin-top: 0;
  font-style: italic;
}

.page-home__banner-image{
  position: relative;
  width: 100%;
  height: 100%;
}

.page-home__info-col {
  height: 75px;
  color: white;

  a {
    color: $link-color;
    font-weight: bold;
    text-decoration: underline;
  }

  p, div {
    width: 70%;
    margin: 0 auto;
  }

  div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}

.page-home__info-col-account-btn {
  background-color: $dark-blue;
  text-align: center;
}

.page-home__info-col-account-info {
  background-color: $light-blue;
}

.page-home__info-col-login-btn {
  background-color: $dark-green;
  text-align: center;
}

.page-home__info-col-login-info {
  background-color: $light-green;
}

.page-home__summary {
  margin-top: 20px;
}

.page-home__summary-section{

  @media(min-width: $main-medium){
    border-right: solid 1px #CCC;

    &:last-child{
      border: none;
    }
  }
}

.page_home_summary-img {
  display: block;
  margin: 0 auto;
}

.page-home__summary-header{
  text-align: center;
  margin: 20px 0;
  a {
    color: $orange;
  }
}

.page-home__summary-content{
  margin-bottom: 40px;
  @media(min-width: $main-medium){
    min-height: 250px;
  }
}
